# phpstorm project directory
.idea/*

# runtime directories
app/runtime/*
web/assets/*
web/files/*

# local configurations
app/config/*-local.php

# composer
vendor/*
composer.phar

# codeception
codecept.phar

# npm
node_modules/*
web/css/*
web/js/*

# environment files
app/config/environment.php
web/css/*
web/js/*
web/index.php
web/test.php