# project files
.idea/*

# environment files
*/config/*-environment.php
app/tests/acceptance.suite.yml
app/tests/functional.suite.yml
web/css/*
web/js/*
web/index.php
web/test.php

# local configurations
app/config/*-local.php

# runtime directories
*/runtime/*
*/tests/_log/*
web/assets/*
web/files/*

# composer
vendor/*

# npm
node_modules/*

# puppet
.librarian/*
.tmp/*
modules/*

# vagrant
.vagrant/
