# phpstorm project directory
.idea/*

# yii runtime directories
app/runtime/*
web/assets/*

# composer
vendor/*
composer*

# npm
node_modules/*
web/css/*
web/js/*

# local configuration
app/config/environments/local.php

# env file
app/config/environments/env
